/* This is just an example. You shouldn't do this. */
menuitem#helloworld-hello {
  color: red !important;
}

#popup_text {
border: 2px solid #31322D;
background-color: #31322D;
opacity:0.7;
-moz-border-radius: 1em;
-moz-opacity: 0.3;
width: 300px;
min-width : 300px;
max-width : 300px;
min-height : 120px;
max-height : 120px;
height : 120px;
}

#popup_text:hover {
border: 2px solid #31322D;
background-color: #31322D;
opacity:1;
-moz-border-radius: 1em;
-moz-opacity: 0.3;


}

#team-heading
{
font-weight: bold;
font-family: Kalinga,sans-serif;
}

#current_feed{
padding: 3px;
color:#acacab;
font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
border: 8px solid #31322D;
font-family: georgia,arial,sans-serif;
font-size: 11px;
-moz-border-radius: 1em;
-moz-opacity: 4;
width: 300px;
}

.team-name{

min-width : 90px;
max-width : 90px;
font-family: Kalinga,sans-serif;

}

#options
{
font-family: Kalinga,
             sans-serif;
}

#update
{
font-family: Kalinga,
             sans-serif;
}

#Heading1
{
font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
font-size: 16px;
text-align: center;
font-weight:bold;

}

#Heading-comm{
font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
font-weight:bold;
text-align:center;
font-size: 14px;

}

.comm_feed{

font-family: Kalinga,sans-serif;
}

#feed_number
{
color:#acacab;
border: 8px solid #31322D;
font-family: georgia,arial,sans-serif;
font-size: 10px;

}

#full_text{
background-color: #dbdbdb;
max-width : 375px;
min-width: 375px;
max-height : 600px;
list-style-image:url('background.jpg');
}

#feed_box{
background-color: #dbdbdb;
width:330px;
max-height : 600px;
list-style-image:url('background.jpg');

}

#all_feed_1
{
min-width : 300px;
max-width : 300px;

}

#yo
{
min-width : 30px;
max-width : 30px;
min-height : 25px;
max-height : 25px;
height : 25px;
background-color: blue;
}

#yo1
{
min-width : 30px;
max-width : 30px;
min-height : 25px;
max-height : 25px;
height : 25px;
background-color: blue;
}

#expand
{

min-width : 30px;
max-width : 30px;
min-height : 25px;
max-height : 25px;

}


#prev
{
/*background-color: red;*/
min-width : 25px;
max-width : 25px;
min-height : 25px;
max-height : 25px;

}

#next
{
/*background-color: red;*/
min-width : 25px;
max-width : 25px;
min-height : 25px;
max-height : 25px;

}